body {
	background-image: url(C:/Users/lucas/Downloads/PREI/moedaBeijaFlor.jpg);
	box-shadow: 10px 10 px black;
	affe
}

.titulo2 {
	text-shadow: 2px 2px black;
	font-size: 50px;
	text-align: center;
	color: darkblue;
}

li {
	position:relative;
	display: inline-table;
	text-align: right;
	font-size: 30px;
}

h2{
	text-align: center;
	font-size: 50px;
}

p{
	text-align: center;
	font-size: 30px;
}
.copyright {
	font-size: 30px;
	text-align: center;
	background: greenyellow;
}